.boxes-block {
    max-width: 1360px;
    margin: 0 auto;
    .box {
        padding: var(--space12) var(--space8);
        width: 49%;
        flex-grow: 1;
           box-shadow: 0 4px 24px 0 #565a7126;
    transition-property: all;
    transition-duration: 200ms;
    &:hover {
        transform: translateY(-2px);
   box-shadow: 0 16px 60px 0 #565b7333;
    }
        .icon {
           max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #8C5BD8;
    background: rgba(140,91,216,0.05);

        }
    }
}
