.sidebar {
    ul#mysidebar {
        list-style-type: none;
        position: sticky;
        top: 110px;
        & > li.categoryfolder {
            margin-bottom: 1rem;
            &>div>span {
                color: var(--textTitle);
                transition: color .15s ease;
                font-size: 1.3em;
                font-weight: 700;
            }
            &>.canOpen:after {
                transition: transform 0.25s ease-out;
            }

            .itemdetails {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

